{% load static %}

<footer class="bg-primary text-light">
    <div class="container navbar-dark pt-4 mt-5">
        <div class="row">
            <div class="col">
                <p class="text-left">Powered by Django</p>
            </div>
            <div class="col">
                <p class="text-right">by Bruno Hubner</p>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'libraries/jquery/jquery.slim.min.js' %}"></script>
<script src="{% static 'libraries/bootstrap/js/bootstrap.bundle.min.js' %}"></script>